<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"1rem","left":"1rem"},"margin":{"top":"1rem","bottom":"1rem"}}},"backgroundColor":"custom-wheat","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-custom-wheat-background-color has-background" style="margin-top:1rem;margin-bottom:1rem;padding-right:1rem;padding-left:1rem"><!-- wp:post-featured-image {"style":{"border":{"radius":"25px","width":"1rem"},"shadow":"var:preset|shadow|deep","spacing":{"padding":{"right":"0","left":"0","top":"1rem","bottom":"1rem"},"margin":{"top":"0rem","bottom":"0rem"}}},"borderColor":"custom-blanched-almond"} /-->

<!-- wp:post-title /-->

<!-- wp:post-date /-->

<!-- wp:post-terms {"term":"category","prefix":"Filed under "} /-->

<!-- wp:post-content /-->

<!-- wp:group {"style":{"border":{"radius":"25px"},"spacing":{"padding":{"top":"1rem","bottom":"1rem"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="border-radius:25px;padding-top:1rem;padding-bottom:1rem"><!-- wp:comments {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"1rem","right":"1rem"}}}} -->
<div class="wp-block-comments" style="margin-top:var(--wp--preset--spacing--40);margin-right:1rem;margin-bottom:var(--wp--preset--spacing--40);margin-left:1rem"><!-- wp:comments-title /-->

<!-- wp:comment-template -->
<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->

<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:comment-content /-->

<!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-numbers /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form {"style":{"spacing":{"margin":{"top":"1rem","bottom":"1rem"},"padding":{"top":"1rem","bottom":"1rem"}}}} /--></div>
<!-- /wp:comments --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->